.panel {
    height: 90vh;
    background: #fff;
    margin-top: 1em;
}
.mb-20{
    margin-bottom: 20px;
}
.al{
    display: flex;
    justify-content: flex-end;
}
.avatar-color{
    background-color: #5755d9;
}
body{
    background: #f7f7f7;
}