:root{
    --primary: #5755d9;
    --fondo:  #f7f7f7;
    --secondary: #fff;
}

body{
    background: var(--fondo);
}

/*Estilos para el panel del chat*/
.panel {
    height: 90vh;
    background: var(--secondary);
    margin-top: 1em;
}
.mb-20{
    margin-bottom: 20px;
}
.al{
    display: flex;
    justify-content: flex-end;
}
.avatar-color{
    background-color: var(--primary);
}

/*Estilos para los iconos*/
.icon-custom{
    color: var(--primary);;
    padding: .35rem;
    margin-left: 0.3rem;
}
.form-label{
    font-weight: bold;
}